*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ? code */

.popupContainer {
  display: flex;
  max-width: 1440px;
  height: 100%;
  background-color: #ffffff;
}
.container {
  background-color: ;
  width: 510px;
  height: 299px;
  margin: 10px auto;
}
.logo {
  display: flex;
  background-color: #ffea9f;
  border-radius: 50px;
  margin: 0 auto;
}
.container p {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.thanksButton {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  gap: 10px;
  width: 248px;
  height: 50px;
  margin-top: 20px;
  padding-top: 15px;
  border-radius: 15px;
  margin: 0 auto;
}
.off {
  margin-left: 450px;
  width: 24px;
  height: 24px;
}
